html, body {
  margin: 0;
}

#find_person {
  margin-top: 150px;
}

h1 {
  color: darkgrey;
}

.hidden {
  display: none !important;
}

.new-person-btn,
.new-loan-btn,
.check-loan-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
}

.check-loan-btn {
  right: 90px;
}

.calendar-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  color: #9e9e9e;
}

#hidden_datepicker {
  display: none;
}

.modal.modal-fixed-footer {
  max-height: 80% !important;
  height: 80% !important;
}

.picker__wrap {
  height: 90% !important;
}

.picker--opened .picker__frame {
  top: 0 !important;
}

.sub_item {
  padding: 0 20px 0 50px;
  font-size: 12px;
}

.good_loan {
  background-color: #99f39c;
  margin: 0;
  padding: 0;
}

.bad_loan {
  background-color: #ffc2bd;
  margin: 0;
  padding: 0;
}

.open_loan {
  background-color: #ccdcff;
  margin: 0;
  padding: 0;
}

.payments {
  padding: 10px 0;
  background: rgb(245, 245, 245);
}

.ava {
  width: 200px;
  height: 200px;
}

.loan-check-result {
  text-align: center;
  padding: 50px;
  height: 100%;
  font-size: 3em;
}

.loan-check-result.accept {
  background-color: #99f39c;
  color: #274c28;
}

.loan-check-result.decline {
  background-color: #ffc2bd;
  color: #613a37;
}

.modal h1 {
  font-size: 3em;
  padding: 40px;
}
