doctype 5
html
  head
    link(rel='stylesheet', href='/styles/app.css')
    script(src='/socket.io/socket.io.js')

  body
    h1 Hello
      = hello

    form#find_person
      input(type='text', style='width: 80%; line-height: 26px; margin: 0 auto; display: block;')
      button(type='submit') Mne povezet

    pre

    form#new_person
      button(type='submit', style='font-size: 60px') +

    script(src='/scripts/app.js')
