doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title Pizda govna
        link(href='../styles/material-fonts.css', rel='stylesheet')
        link(href='../styles/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='../styles/app.css', type='text/css', rel='stylesheet', media='screen,projection')

    body(style='background-color: #eee;')
        // find person
        .section.no-pad-bot
            .container
                br
                br
                h1.header.center(style='color: #27839c') μst
                form#find_person(style='text-align: center')
                    .input-field.center-align.col.s8
                        input#find_person_data.validate(type='text')
                        label.active(for='find_person_data') Данные заемщика (ФИО паспортные данные)
                .row.center
                    a.btn-floating.btn-large.modal-trigger.new-person-btn(href='#new_person_modal')
                        i.material-icons add

        // new person
        #new_person_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #27839c') μst
            form#new_person
                .modal-content(style='height: initial')
                    .row
                        .input-field.col.s4
                            input#first_name.validate(name='first_name', type='text')
                            label(for='first_name') Имя
                        .input-field.col.s4
                            input#last_name.validate(name='last_name', type='text')
                            label(for='last_name') Фамилия
                        .input-field.col.s4
                            input#sec_name.validate(name='sec_name', type='text')
                            label(for='sec_name') Отчество
                    .row
                        .input-field.col.s4
                            input#passport_series.validate(name='passport_series', type='text')
                            label(for='passport_series') Серия
                        .input-field.col.s8
                            input#passport_number.validate(name='passport_number', type='text')
                            label(for='passport_number') Номер
                    .row
                        .input-field.col.s4
                            input#birth_date.validate(name='birth_date', type='text')
                            label(for='birth_date') Дата рождения
                            i.material-icons.calendar-icon today
                        .input-field.col.s8
                            input#birth_place.validate(name='birth_place', type='text')
                            label(for='birth_place') Место рождения
                .modal-footer
                    button.btn(type='submit') Создать

        // new loan
        #new_loan_modal.modal.modal-fixed-footer
            h1.header.center(style='color: #27839c') μst
            form#new_loan
                .modal-content
                    .row
                        .input-field
                            input#credit_sum.validate(name='credit_sum', type='text')
                            label(for='credit_sum') Сумма кредита
                        .input-field
                            input#percent.validate(name='percent', type='text')
                            label(for='percent') Процентная ставка
                        .input-field
                            input#time.validate(name='time', type='text')
                            label(for='time') Срок кредита
                .modal-footer
                    button.btn(type='submit') Создать


        // scripts
        script(src='/socket.io/socket.io.js')
        script(src='../scripts/jquery-2.1.1.min.js')
        script(src='../scripts/materialize.min.js')
        script(src='../scripts/app.js')
