doctype 5
html
    head
        link(rel='stylesheet', href='/styles/app.css')
        script(src='/socket.io/socket.io.js')

    body
        each value, field in profile
            = `${field}: ${value}`
            br


        script(src='/scripts/profile.js')
